<nav
    class="text-white sticky top-0 w-full flex items-center px-10 py-5 justify-between align-center bg-black/10 backdrop-blur-md border border-s-white h-20"
>
    <h1 class="text-xl font-extrabold h-fit">BLACKOUT</h1>
    <ul class="flex gap-5 h-fit">
        <li><a class="h-fit" href="/">Home</a></li>
        <li><a class="h-fit" href="/quote">Quote</a></li>
        <li><a class="h-fit" href="#about">About</a></li>
        <li><a class="h-fit" href="/careers">Careers</a></li>
    </ul>
</nav>

<script>
    console.log("COMP MOUNTED");
</script>
