<nav
    class="text-white sticky top-0 w-full flex items-center px-10 justify-between align-center bg-black/10 backdrop-blur-md border border-s-white h-20"
>
    <h1 class="text-xl font-extrabold h-fit">BLACKOUT</h1>
    <ul class="flex gap-5 h-full items-center">
        <li
            class="h-full cursor-pointer font-medium hover:bg-white hover:text-black transition duration-200 ease-in"
        >
            <a class="h-full flex items-center px-2" href="/">Home</a>
        </li>
        <li
            class="h-full cursor-pointer font-medium hover:bg-white hover:text-black transition duration-200 ease-in"
        >
            <a class="h-full flex items-center px-2" href="/quote">Quote</a>
        </li>
        <li
            class="h-full cursor-pointer font-medium hover:bg-white hover:text-black transition duration-200 ease-in"
        >
            <a class="h-full flex items-center px-2" href="/#about">About</a>
        </li>
        <li
            class="h-full cursor-pointer font-medium hover:bg-white hover:text-black transition duration-200 ease-in"
        >
            <a class="h-full flex items-center px-2" href="/careers">Careers</a>
        </li>
    </ul>
</nav>

<script>
    console.log("COMP MOUNTED");
</script>
