<footer class="p-10 px-5 text-white border border-white flex relative">
    <p class="hidden sm:block absolute bottom-5 right-10 text-sm">
        © 2025-Present Blackout Security Services — All Rights Reserved.
    </p>
    <section>
        <ul class="flex flex-col gap-2">
            <li class="flex flex-col">
                <h1 class="text-sm sm:text-lg text-gray-500">
                    BLACKOUT Security Services
                </h1>
                <p class="text-xs sm:text-sm">
                    Dedicated to Safeguarding What Matters
                </p>
            </li>
            <li class="flex flex-col gap-1">
                <h1 class="text-sm sm:text-lg text-gray-500">
                    Licensed & Insured
                </h1>
                <p class="text-xs sm:text-sm">PPO #122466</p>
            </li>
            <li class="flex flex-col gap-1">
                <h1 class="text-sm sm:text-lg text-gray-500">Locations</h1>
                <p class="text-xs sm:text-sm">
                    Serving Chino, Los Angeles, Orange, San Bernardino,
                    Riverside & Surrounding Areas
                </p>
            </li>
            <li class="mt-5 sm:hidden">
                <p class="text-xs">
                    © 2025-Present Blackout Security Services — All Rights
                    Reserved.
                </p>
            </li>
        </ul>
    </section>
</footer>
