<footer class="py-5 px-10 text-white border border-white flex relative">
    <p class="absolute bottom-5 right-10">
        © 2025-Present Blackout Security Services — All Rights Reserved.
    </p>
    <section>
        <ul class="flex flex-col gap-2 pr-10">
            <li class="flex flex-col">
                <h1 class="text-lg text-gray-500">
                    BLACKOUT Security Services
                </h1>
                <p class="text-sm">Dedicated to Safeguarding What Matters</p>
            </li>
            <li class="flex flex-col gap-1">
                <h1 class="text-lg text-gray-500">Licensed & Insured</h1>
                <p class="text-sm">PPO #122466</p>
            </li>
            <li class="flex flex-col gap-1">
                <h1 class="text-lg text-gray-500">Locations</h1>
                <p class="text-sm">
                    Serving Chino, Los Angeles, Orange, San Bernardino,
                    Riverside & Surrounding Areas
                </p>
            </li>
        </ul>
    </section>
</footer>
